numpy
pandas==2.2.0
regex
dotenv

torch==2.1.1+cu121
cuda_version==12.1
transformers==4.40.2
peft==0.10.0
bitsandbytes==0.41.3
datasets==2.18.0
accelerate==0.28.0
tokenizers==0.19.1
huggingface-hub==0.20.3

groq
hf_xet

sacrebleu
Levenshtein